<section class="my-5">
  <div class="card">
    <div class="card-body">
      <div class="col-lg-8 offset-lg-2 my-5">
        <h3 class="card-title text-center mb-4">Filter news by countries and categories</h3>
        <form #form="ngForm" (submit)="onSubmit()">
          <div class="form-group">
            <select class="form-control form-control-lg" placeholder="Category" name="category" id="category">
              <option>All</option>
              <option>Technology</option>
              <option>Health</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control form-control-lg" placeholder="Country" name="country" id="country">
              <option>Venezuela</option>
              <option>Colombia</option>
              <option>Chile</option>
            </select>
          </div>
          <button type="submit" name="search" id="search" class="btn btn-primary btn-lg btn-block">Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
